.page_404 {
    padding: 40px 0;
    width: 50%;
    display: flex;
    align-items: center;
    padding-right: 18vh;
}

.page_404 img {
    width: 100%;
}

.text-center{
    color: #007bff;
}

.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 50vh;
    width: 50vh;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four_zero_four_bg h1 {
    font-size: 80px;
}

h3{
    font-size: 2em;
    color: #333;
    text-shadow: 1px 1px #ddd;
}