.card {
    width: 160px;
    height: 224px;
    background: transparent;
    border: 2px solid #07ff07;
    border-radius: 10px;
    box-shadow: 2px 2px 15px #000000 inset;
    text-align: center;
    color: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico';
    text-decoration: none;
}

.text-title {
    color: black;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

.card.green {
    background-color: lightgreen;
    background: lightgreen;
    border: 2px solid lightgreen;
    box-shadow: 2px 2px 15px #000000 inset;
    text-align: center;
    color: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico';
}

.card.yellow {
    background-color: yellow;
    background: yellow;
    border: 2px solid yellow;
    box-shadow: 2px 2px 15px #000000 inset;
    text-align: center;
    color: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico';

}

.card.red {
    background-color: tomato;
    background: tomato;
    border: 2px solid tomato;
    box-shadow: 2px 2px 15px #000000 inset;
    text-align: center;
    color: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico';
}


































