#admin{
    display: flex;
}

.SideMenu {
    flex-grow: 0.2;
    /*border-right: solid 1px grey;*/
}

#admin_body {
    display: grid;
    flex-grow: 2;
    grid-template-rows: auto;
    gap: 20px;
    padding: 2em;
}
/********************************/

.SideMenu li{
    list-style: none;
}

.SideMenu nav ul a {
    text-decoration: none;
    color: black;
}