.ALayout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.ALayout > div {
    padding: 20px;
}

.Header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}

#admin {
    display: flex;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    justify-content: space-between;
    height: 100%;
}

#admin_body {
    flex-grow: 1;
    padding: 10px;
    align-items: center;
}

.SideMenu {
    width: 200px; /* Largeur fixe de la SideMenu */
    flex-shrink: 0; /* Empêche la SideMenu de se rétrécir */
    border-right: solid 1px grey;
    background-color: #f8f9fa;
    padding: 10px;
}

.SideMenu ul {
    padding: 0;
    margin: 0;
}

.SideMenu li {
    list-style: none;
    margin-bottom: 10px;
}

.SideMenu a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.SideMenu a:hover {
    background-color: #e5e5e5;
    color: #000;
}
